In [1]:
import pandas as pd
import numpy as np

THIS NOTEBOOK IS FOR MAKING CHANGES IN THE MOCK VIEWERS DATA.

In [2]:
data = pd.read_csv('viewers.csv')
data.head()

,username,country_of_user,title,date_watched,percentage_watched,age
0,cjarrett0,Indonesia,Valeria,1/7/2019,92,21
1,rasbury1,New Zealand,The Massively Mixed-Up Middle School Mystery,10/25/2015,39,69
2,fedds2,Iraq,Boi,8/17/2016,37,77
3,amunehay3,United States,Super Deluxe,11/9/2019,24,12
4,dterrazzo4,Macedonia,Chance Pe Dance,9/8/2015,85,50

In [3]:
show_data = pd.read_csv('cleaned_netflix_data.csv')
show_data.head()

,type,title,director,cast,country,release_year,rating,duration,listed_in
0,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies"
1,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,2021,TV-14,9 Seasons,"British TV Shows, Reality TV"
2,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,2021,PG-13,104 min,"Comedies, Dramas"
3,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic",2021,TV-MA,127 min,"Dramas, International Movies"
4,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies"

In [4]:
show_data.shape

(2448, 9)

In [17]:
show_data.dropna(inplace=True)

In [6]:
# get first 1000 usernames
usernames = data['username'].values[:1000]

FIXING DATA TO HAVE ONLY 1000 UNIQUE USERS

In [ ]:
for index, row in data.iterrows():
    if row['username'] in usernames:
        continue
    else:
        rand_username = np.random.choice(usernames)
        rand_user = data[data['username'] == rand_username]
        data.at[index, 'username'] = rand_username
        data.at[index, 'age'] = rand_user['age'].values[0]
        data.at[index, 'country_of_user'] = rand_user['country_of_user'].values[0]

CREATING 20000 MORE USER DATA

In [ ]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

from random import randint
import datetime
# create more data
for i in range(20000):
    num = randint(1,100)
    date=datetime.date(randint(2015,2023), randint(1,12),randint(1,28))
    rand_username = np.random.choice(usernames)
    rand_user = data[data['username'] == rand_username]
    data = data.append({'username': rand_username, 'age': rand_user['age'].values[0], 'country_of_user': rand_user['country_of_user'].values[0], 'title': np.random.choice(show_data['title'].values), 'date_watched': date, 'percentage_watched': num}, ignore_index=True)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   username            30000 non-null  object
 1   country_of_user     30000 non-null  object
 2   title               30000 non-null  object
 3   date_watched        30000 non-null  object
 4   percentage_watched  30000 non-null  int64
 5   age                 30000 non-null  int64
dtypes: int64(2), object(4)
memory usage: 1.4+ MB

FIXING DATA IF THERE ARE OTHER THAN SHOW TITLES IN USER DATA, CHANGE THEM WITH THE RANDOMLY SELECTED TITLE FROM THE NETFLIX DATA. (i used mockaroo and it made some mistakes while selecting titles from the netflix data because of encoding issues.)

In [7]:
for index, row in data.iterrows():
    if row['title'] in show_data['title'].values:
        continue
    else:
        rand_title = np.random.choice(show_data['title'].values)
        data.at[index, 'title'] = rand_title

In [8]:
data.tail()

,username,country_of_user,title,date_watched,percentage_watched,age
29995,clippitt4r,Philippines,Namaste Wahala,2022-07-07,45,49
29996,acaddanhr,Russia,Ninja Assassin,2023-04-16,42,47
29997,vpillifantd1,Greece,Singham,2017-02-19,79,82
29998,akirschck,Russia,Kaali Khuhi,2023-11-16,17,57
29999,kfillery62,Peru,Eric ldle's What About Dick?,2019-04-25,73,49

In [9]:
data.isna().sum()

username              0
country_of_user       0
title                 0
date_watched          0
percentage_watched    0
age                   0
dtype: int64

In [10]:
data.to_csv('viewers.csv', index=False)